*{
  padding: 0; margin: 0; 
}

/* body{
  height: 20000px;
} */

.po-ab{position: absolute;}
.po-re{position: relative;}
.pa-5{padding: 5px;}


#slide{width: 100vw;height: 100vh; float: left; transition: 200ms; opacity: 30%;}
#slide:nth-child(1) {background-color: salmon; background: url(../img/satin1.jpg) no-repeat center center; background-size: cover;}
#slide:nth-child(2) {background-color: silver; background: url(../img/h24.jpg) no-repeat center center; background-size: cover;}
#slide:nth-child(3) {background-color: slateblue; background: url(../img/black-orchid.jpg) no-repeat center center; background-size: cover;}
#slide:nth-child(4) {background-color: slateblue; background: url(../img/visuel-ombre-horizontal-rvb-72dpi.jpg) no-repeat center center; background-size: cover;}

#satin{
  position: absolute;
  top: 0px;
  transition: 1000ms;
  opacity: 0;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

#top{
  width: 500vw;
  height: 100vh;
  background-color: black;
}

#section1{
  width: 100vw;
  height: 100vh;
  background: #111;
  position: relative;
}

#section1 h1{
  font-size: 4em;
  color: rgb(228, 219, 168);
  text-shadow: white 3px 3px 3px;
  position: absolute;
  left: 1%;
  top: 0px;
  z-index: 9;
  opacity: 0;
  transition: 400ms;
}

#section1 #kur1{
  height: 90vh;
  width: auto;
  right: 10vw;
  top: 50px;
  opacity: 0;
  transition: 2000ms;
}

#section1 #kur2{
  height: 70vh;
  width: auto;
  left: 5vw;
  top: 200px;
  opacity: 0;
  transition: 1000ms;
}

#section1 img {
  width: 100%;
  height: 100%;
}

#section2 {
  width: 100vw;
  height: 120vh;
  background-color: #ccc;
  position: relative;
  padding-top: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transition: 500ms;
  background: url(../img/mood.jpg) center center;
  background-size: cover;
  }
#section2>h1{
  font-size: 7em;
  font-weight: 500;
  top: -30%;
  color: rgba(166, 167, 131, 0.815);
  transform: scale(0);
  transition: 600ms;
  z-index: 2;
  text-shadow: 5px 0px 5px #fff;
}

#satinfrag {
  width: 100%;
  height: 40%;
  background: url(../img/satin_frag.PNG)center center no-repeat;
  background-size: contain;
}

#section2>div{
  width: 25%;
  height: 60%;
  background-color: rgba(39, 39, 39, 0.8);
  color: white;
  transition: 500ms;
  opacity: 0;
  padding: 20px;
}

#section3 {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  background: url(../img/diplogo.jpg) no-repeat center center; background-size: cover;
}

#section3 img{
  width: 100%;
  height: 100%;
}

#section3 div:nth-child(1) {
  width: 40vw;
  height: 30vh;
  background-color: chartreuse;
  opacity: 0;
  top: 65vh;
  left: -10vw;
  transition: 500ms;
}
#section3 div:nth-child(2) {width: 20vw; height: 80vh; background-color: #555; right: -5vw; top: 20vh; opacity: 0; 
  transition: 500ms;} 
#section3 div:nth-child(3) {width: 40vw; height: 20vh; background-color: coral; top: 20vh; left: -20vw; opacity: 0; 
  transition: 500ms;}


#section4{
  width: 100vw;
  height: 100vh;
  background-color: black;
  transition: 300ms;
  opacity: 0;
  z-index: 5;
  background: url(../img/lomdan.jpg) center center no-repeat;
  background-size: cover;
}

#section4>div{
  width: 40vw;
  height: 25vh;
  opacity: 0;
  transition: 300ms;
  overflow: hidden;
  padding: 20px;
}

#section4>div:nth-child(1) {
  background-color: rgba(105, 64, 64, 0.6);
  color: white;
  top: 5vh;
  left: 5vw;
}

#section4>div:nth-child(2) {
  right: 5vw;
  top: 35vh;
  background-color: rgba(6, 63, 23, 0.808);
  color: white;
}
#section4>div:nth-child(3) {
  left: 8vw;
  bottom: 15vh;
  background-color: rgba(9, 8, 12, 0.9);
  color: white;
}

#blackbox{
  position: absolute;
  width: 100vw;
  height: 150vh;
  background-color: black;
  opacity: 1;
  top: 6800px;
}

#topbtn{
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  padding: 5px;
  z-index: 10;
  border: none;
  transition: 400ms;
}

#hermes{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 8200px;
}

#hermes>section{
  transition: 500ms;
  position: absolute;
}

#section5{
  width: 100vw;
  height: 100vh;
  background: url(../img/408118.jpg) no-repeat center center;
  background-size: cover;
}

#section5 h1{
  font-size: 2em;
}
#section5 #h24top{
  width: 30vw;
  height: 25vh;
  background-color: rgba(134, 121, 121, 0.3);
  color: white;
  padding: 40px;
  position: relative;
  top: 30vh;
  left: 10vw;
  transition: 300ms;
  overflow: hidden;
}

#h24bot{
  width: 40vw;
  height: 25vh;
  background-color: rgba(80, 71, 71, 0.788);
  position: relative;
  left: 10vw;
  top: -20vh;
  color: #fff;
  opacity: 0;
  transition: 300ms;
  padding: 30px;
}

#section6{
  width: 100vw;
  height: 100vh;
  background: url(../img/h24img.jpg)no-repeat center center;
  background-size: cover;
} 

#section6 div{
  width: 30vw;
  height: 10vh;
  background-color: rgba(51, 34, 34, 0.5);
  color: white;
  padding: 20px;
  position: relative;
  top: 45vh;
  left: 10vw;
  transition: 300ms;
  overflow: hidden;
}

#section7{
  width: 100vw;
  height: 100vh;
  background-color: darkorange;
  background: url(../img/hermeslogo.png) center center no-repeat;
  transition: 2000ms;
}

#section8{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 10430px;
  background: url(../img/blchid.jpg) center center no-repeat;
  background-size: cover;
}

#section8 #logo{
  top: 20vh;
  left: -50vw;
  transform: scale(1);
  transition: 600ms;
}

#section8 h1{
  display: inline;
  font-size: 8em;
  color: rgb(255, 247, 204);
  opacity: 0;
  transition: 500ms;
}

#blackorchid{
  text-align: center;
  top: 30vh;
  position: absolute;
  left: 30vw;
}

#blackorchid h1:nth-child(4) {color: rgb(255, 242, 170);}
#blackorchid h1:nth-child(5) {color: rgb(255, 239, 147); margin-right: 50px;}
#blackorchid h1:nth-child(6) {color: rgb(255, 236, 126);}
#blackorchid h1:nth-child(7) {color: rgb(255, 230, 89);}
#blackorchid h1:nth-child(8) {color: rgb(255, 228, 77);}
#blackorchid h1:nth-child(9) {color: rgb(255, 228, 77);}
#blackorchid h1:nth-child(10) {color: rgb(255, 227, 70);}
#blackorchid h1:nth-child(11) {color: rgb(255, 224, 46);}

#section9{
  width: 100vw;
  height: 200vh;
  position: absolute;
  top: 11270px;
  background-color: burlywood;
  margin-top: 90px;
}

#section9 article{
  width: 100vw;
  height: 100vh;
}

#section9 article:nth-child(1) {background: url(../img/톰포드.jpg) center center no-repeat; background-size: cover;}
#section9 article:nth-child(2) {background-color: black;}



#tomford-bot{
  background: url(../img/느와.gif) center center no-repeat;
  background-size: contain;
}

#tomford-bot div{
  position: absolute;
  transition: 500ms;
  opacity: .7;
  transform: scale(0);
  top: -50vh;
}
#tomford-bot div:nth-child(1){ width: 40vw; height: 70vh; background: url(../img/비터피치.jpg) center center no-repeat;
background-size: cover; left: 5vw;
}
#tomford-bot div:nth-child(2){ width: 40vw; height: 35vh; background: url(../img/화스.jpg) center center no-repeat; 
right: 10vw;}
#tomford-bot div:nth-child(3){ width: 30vw; height: 50vh; background: url(../img/오드우드.jpg) no-repeat; background-size: contain;
right: 15vw;
}


#section10{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 13230px;
  background: url(/img/orchid.jpg) no-repeat center center;
  background-size: cover;
  opacity: .8;
}

#section10>div {
  width: 40vw;
  height: 30vh;
  position: absolute;
  top: 20vh;
  left: 10vw;
}
#section10 img{
  width: 100%;
  height: 100%;
}